/* Body style */
body {
    background-color: rgb(52,52,52);
    background-color: linear-gradient(142deg, rgba(52,52,52,1) 0%, rgba(65,65,65,1) 49%, rgba(44,44,44,1) 100%);

    background-image: url('/backgroundLogo.png');
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: center center;

    position: relative;
    font-family: var(--font-family);
}



/* Basic Components */
  /* Componente bloco rastreios*/
  .box {
    width: 350px;
    height: 320px;
    border-radius: 10px;
    background: var(--boxesColor);
    padding: 5px;
    display: grid;
    grid-template-areas: 
    'subtitulo'
    'texto1'
    'legenda1'
    'texto2'
    'legenda2'
    'openBtn';
  }

  .box p:nth-of-type(2) {
    opacity: 0.5;
    margin-left: 25px;
    grid-area: texto2;
  }


  .box p:nth-of-type(1) {
    opacity: 0.5;
    margin-left: 25px;
    grid-area: texto1;
  }
  
  .box div:nth-of-type(1) {
    grid-area: legenda1;
    margin-left: 25px;
  }
  .box div:nth-of-type(1) p {
    margin-top: 0px;
    margin-left: 5px;
  }
  .box div:nth-of-type(2) {
    grid-area: legenda2;
    margin-left: 25px;
  }
  .box div:nth-of-type(2) p {
    margin-top: 0px;
    margin-left: 5px;
  }

  .box a {
    color: var(--primaryColor);
    text-decoration: none;
    grid-area: openBtn;
    margin-top: 25px;
    margin-left: 25px;
  }

  
  /* Componente Legenda */
  .legenda {
    background: #FCFCFC;
    width: 80%;
    height: 40px;
    border-radius: 10px;
    font-size: 24px;
  }

  /* Componente Subt�tulo */
  .subtitulo {
    text-transform: uppercase;
    margin-left: 25px;
    grid-area: subtitulo;
  }

  .label {
    color: white;
    text-transform: uppercase;
  }
  .textInput {
    color: var(--boxesColor);
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--boxesColor);
    width: 15vw;
    height: 40px;
  }
  .textInput::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(1);
  }
  .textInput:focus {
    border-bottom: 2px solid var(--primaryColor);
  }
  .submitBtn {
    background: none;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    outline: none;
    cursor: pointer;
    border: 2px solid var(--primaryColor);
    color: var(--primaryColor);
  }
  .submitBtn:hover {
    background: var(--primaryColor);
    border: 2px solid var(--primaryColor);
    color: var(--boxesColor);
  }


  .closeBtn {
    background: none;
    width: 5vw;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: var(--errorColor);
    text-transform: uppercase;
    text-align: center;
    outline: none;
    border: 2px solid var(--errorColor);
    cursor: pointer;
  }
  .closeBtn:hover {
    background: var(--errorColor);
    color: var(--boxesColor);
  }