 /* Vari�veis */
 @import '../variables.css';
 /*  Template padrão de componentes */
 @import '../AppTemplate.css';



 .header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
  margin-top: -50px;
 }
 .logoHome {
  width: 50px;
 }
 .header div {
  align-items: center;
  gap: 50px;
  display: flex;
 }
 .header p {
  color: var(--boxesColor);
  text-transform: uppercase;
  font-size: 30px;
 }
 .header a {
  color: var(--boxesColor);
 }
 .main {
    height: 500px;
    display: grid;
    grid-template-areas: 'filter filter filter'
    'section section section';
  }
  .filterSection {
    width: 90vw;
    max-width: 1800px;
    grid-area: filter;
    margin-top: 25px;
    position: relative;
  }

  .filterHeader {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    border-bottom: solid 1px black;
  }
  .filterBtn {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    display: flex;
    gap: 5px;
    padding: 5px;
    margin-left: 5px;
    border-left: 1px solid black;
    cursor: pointer;
  }

  .filter, .addSection {
    border: 1px solid var(--primaryColor);
    padding: 2%;
    display: none;
    gap: 20px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  }
  .addSection {
    margin-top: 0px;
  }
  .addSection form {
    display: flex;
    gap: 30px;
  }
  
  .filter.show, .addSection.show {
    display: flex;
    max-height: 1000px;
    opacity: 1;
    transition: max-height 0.3s ease-in, opacity 0.3s ease-in;
    border-radius: 10px;
  }

  .section {
    margin-top: 25px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: auto auto auto auto;
  }

  .deleteBtn {
    width: 10%;
    margin-left: 7%;
    cursor: pointer;
  }
  
  .trackBox {
    background: var(--primaryColor);
    width: 40vw;
    max-height: 676px;
    margin: 0 auto;
    left: 50%; /* Ajusta a posição para o centro */
    transform: translateX(-50%);
    margin-top: 0px;
    border-radius: 20px;
    position: absolute;
    overflow-x: auto;
    z-index: 1000;
    opacity: 1;
  }
  .trackBox::-webkit-scrollbar {
    width: 5px;
  }
  .trackBox::-webkit-scrollbar-track {
    background: none;
  }
  .trackBox::-webkit-scrollbar-thumb {
    background-color: var(--boxesColor);
    border-radius: 20px;
  }
  .trackBox header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 25px;
  }
  .trackBox header a {
    margin-right: 25px;
  }
  .trackBox h2 {
    color: var(--boxesColor);
    text-transform: uppercase;
  }
 
  .trackBox p {
    color: var(--boxesColor);
    margin-left: 25px;
    grid-area: 1 / 2;
  }
  .trackBox a {
    color: var(--boxesColor);
    text-decoration: none;
    margin-top: 25px;
    margin-left: 25px;
  }
  .timelineItem {
      display: flex;
      align-items: flex-start;
      margin-bottom: 20px;
  }
  .timelineDate {
      width: 20%;
      text-align: right;
      padding-right: 20px;
  }
  .timelineContent {
      width: 80%;
      padding-left: 20px;
      border-left: 3px solid var(--boxesColor);
  }
  .timelineContent p {
      margin: 0;
      padding: 5px 0;
  }

  .timelineTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: var(--boxesColor);
  }
  
  .timelineTable td {
    padding: 10px;
    text-align: left;
  }

  .timelineData {
    width: 20%;
  }
  
  .timelineDesc {
    width: 80%;
    border-left: 3px solid var(--boxesColor);
  }


  .box {
    height: 350px;
  }

  .carregando {
    color: var(--boxesColor);

  }

@media screen and (max-width: 600px){
  .filterSection {
    width: 90vw;
  }

  .trackBox {
    width: 80vw;
  }

  .filter.show, .addSection.show {
    display: flex;
    flex-direction: column;
  }
  .addSection.show form {
    display: flex;
    flex-direction: column;
  }

  .box {
    width: 90vw;
  }

  .filterBtn {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    display: flex;
    gap: 5px;
    padding: 5px;
    margin-left: 5px;
    border-left: 1px solid black;
    cursor: pointer;
  }

  .section {
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 1024px){
  .filterSection {
    width: 90vw;
  }
  .filter.show, .addSection.show {
    display: flex;
    flex-direction: column;
  }
  .addSection.show form {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1200px){
  .filterSection {
    width: 90vw;
  }

  .trackBox {
    width: 60vw;
  }

  .filter.show, .addSection.show {
    display: flex;
    flex-direction: column;
  }
  .addSection.show form {
    display: flex;
    flex-direction: column;
  }
  .addSection form input {
    width: 100%;
  }
  .filter input {
    width: 100%;
  }

  .filterBtn {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    display: flex;
    gap: 5px;
    padding: 5px;
    margin-left: 5px;
    border-left: 1px solid black;
    cursor: pointer;
  }

  .section {
    grid-template-columns: auto;
  }

  .closeBtn {
    background: none;
    width: 15vw;
  }
}

@media screen and (max-width: 1500px) {
  .section {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 1800px) {
  .section {
    grid-template-columns: auto auto auto;
  }
}