/* Variáveis globais */
:root {
    --background-color: #343434;
    --font-family: "Roboto", sans-serif;
  
    --primaryColor: #0A8AA6;
    --secondaryColor: #057D97;
    --thirdColor: #0084A0;
    --boxesColor: #EFECE4;
  }